nav .navbar-brand
{
    /* Μέγεθος γραμμάτων στο brand της μπάρας πλοήγησης */
    font-size: xx-large;
}

nav .navbar-nav li a
{
    /* Χρώμα κουμπιών για τις διάφορες λειτουργίες της εφαρμογής στην μπάρα πλοήγησης*/
    color: #ff8000;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center; /* Κεντρική στοίχιση σώματος σελίδων*/
}

body
{
    /* Χρώμα φόντου για το σώμα των σελιδών */
    background-color: #d0d7de;
}

footer 
{
    /* Ρυθμίσεις θέσης footer σελιδών */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
